<p id="notice"><%= notice %></p>

<h1>Spells</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Mana cost</th>
      <th>Description</th>
      <th>Damage</th>
      <th>Heal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spells.each do |spell| %>
      <tr>
        <td><%= image_tag spell.avatar.url(:medium) %></td>
        <td><%= spell.title %></td>
        <td><%= spell.mana_cost %></td>
        <td><%= spell.description %></td>
        <td><%= spell.damage %></td>
        <td><%= spell.heal %></td>
        <td><%= link_to 'Show', spell %></td>
        <td><%= link_to 'Edit', edit_spell_path(spell) %></td>
        <td><%= link_to 'Destroy', spell, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spell', new_spell_path %>
